<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<div class="d-flex p-3 m-3" style="min-width: max-content;justify-content: center;
                max-height: min-content" th:fragment="crudrooms">
    <table class="crud_buttons col" cellpadding="40px" align="center">
        <td>

            <div class="popup_div">
                <input type="checkbox" id="callback">
                <label class="popup_try" for="callback">Добавить</label>
                <form action="/addroom" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="number" placeholder="Номер кабинета">

                        </label>

                        <label class="d-flex justify-content-center align-items-center">
                                <select class="form-select m-2" name="workarea"
                                    style="border-radius: 5px; border: 0 solid #62a0f6;
                                   max-height: min-content; height: 5vh; font-size: small;
                                   width: 9.4rem;  box-shadow: 0 0 3px 1px #62a0f6; text-align: center">
                                <option value="0">Филиал</option>
                                <option th:each="element : ${workAreaList}"
                                        th:value="${element.id}"
                                        th:text="${element.name}"></option>
                            </select>
                        </label>

                    </div>
                    <button class="button" type="submit">Добавить</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <label class="close" for="callback">+</label>
                </form>
            </div>

        </td>

        <td>

            <div class="popup_div">
                <input type="checkbox" id="callback3">
                <label class="popup_try" for="callback3">Обновить</label>
                <form action="/updateroom" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" placeholder="ID кабинета">
                        </label>
                        <label>
                            <input type="text" name="number" placeholder="Номер кабинета">
                        </label>
                        <label class="d-flex justify-content-center align-items-center">
                            <select class="form-select m-2" name="workarea"
                                    style="border-radius: 5px; border: 0 solid #62a0f6;
                                   max-height: min-content; height: 5vh; font-size: small;
                                   width: 9.4rem;  box-shadow: 0 0 3px 1px #62a0f6; text-align: center">
                                <option value="0">Филиал</option>
                                <option th:each="element : ${workAreaList}"
                                        th:value="${element.id}"
                                        th:text="${element.name}"></option>
                            </select>
                        </label>
                    </div>
                    <button class="button" type="submit">Обновить</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <label class="close" for="callback3">+</label>
                </form>
            </div>

        </td>
        <td>

            <div class="popup_div">
                <input type="checkbox" id="callback4">
                <label class="popup_try" for="callback4">Найти</label>
                <form action="/findroomyid" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" placeholder="ID кабинета">
                        </label>
                    </div>
                    <button class="button" type="submit">Найти</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="csrf.token">
                    <label class="close" for="callback4">+</label>
                </form>
            </div>

        </td>

        <td>

            <div class="popup_div">
                <input type="checkbox" id="callback2">
                <label class="popup_try" for="callback2">Удалить</label>
                <form action="/deleteroom" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" placeholder="ID кабинета">
                        </label>
                    </div>
                    <button class="button" type="submit">Удалить</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <label class="close" for="callback2">+</label>
                </form>
            </div>

        </td>

    </table>
</div>

</html>