<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<div class="d-flex p-3 m-3" style="min-width: max-content;justify-content: center;
                max-height: min-content" th:fragment="crudrepair">
    <table class="crud_buttons col" cellpadding="40px" align="center">
        <td>
            <div class="popup_div">
                <input type="checkbox" id="callback">
                <label class="popup_try" for="callback">Добавить</label>
                <form class="popup_form" method="post" action="/addrepair">
                    <div align="center">
                        <label style="text-align: center; margin-bottom: 7px">
                            <input type="text" name="firstDay" placeholder="Дата ввода"
                                   style="text-align: center;height: 30px">
                        </label>
                        <label class="d-flex justify-content-center align-items-center">
                            <select class="form-select m-2" name="device"
                                    style="border-radius: 5px; border: 0 solid #62a0f6;
                                   max-height: min-content; height: 30px; font-size: small;
                                   width: 9.4rem;  box-shadow: 0 0 3px 1px #62a0f6; text-align: center">
                                <option value="0">Оборудование</option>
                                <option th:each="element : ${devicesList}"
                                        th:value="${element.id}"
                                        th:text="${element.name}"></option>
                            </select>
                        </label>
                    </div>
                    <div align="center">
                        <button class="button" type="submit">Добавить</button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <label class="close" for="callback">+</label>
                </form>
            </div>
        </td>

        <td>
            <div class="popup_div">
                <input type="checkbox" id="callback3">
                <label class="popup_try" for="callback3">Обновить</label>
                <form action="/updaterepair" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" align="middle" placeholder="ID ремонта">
                        </label>
                        <label style="text-align: center; margin-bottom: 7px">
                            <input type="text" name="lastRepairDay" placeholder="Дата ремонта"
                                   style="text-align: center;height: 30px">
                        </label>
                        <label class="d-flex justify-content-center align-items-center">
                            <select class="form-select m-2" name="isImportant"
                                    style="border-radius: 5px; border: 0 solid #62a0f6;
                                   max-height: min-content; height: 30px; font-size: small;
                                   width: 9.4rem;  box-shadow: 0 0 3px 1px #62a0f6; text-align: center">
                                <option value="0">Сложность</option>
                                <option th:each="element : ${importantList}"
                                        th:value="${element}"
                                        th:text="${element}"></option>
                            </select>
                        </label>
                        <label class="d-flex justify-content-center align-items-center">
                            <select class="form-select m-2" name="device"
                                    style="border-radius: 5px; border: 0 solid #62a0f6;
                                   max-height: min-content; height: 30px; font-size: small;
                                   width: 9.4rem;  box-shadow: 0 0 3px 1px #62a0f6; text-align: center">
                                <option value="0">Оборудование</option>
                                <option th:each="element : ${devicesList}"
                                        th:value="${element.id}"
                                        th:text="${element.name}"></option>
                            </select>
                        </label>
                        <label>
                            <input type="text" name="repairedPart" align="middle" placeholder="Детали оборудования">
                        </label>
                    </div>
                    <div align="center">
                        <button class="button" type="submit">Обновить</button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <label class="close" for="callback3">+</label>
                </form>
            </div>
        </td>

        <td>
            <div class="popup_div">
                <input type="checkbox" id="callback5">
                <label class="popup_try" for="callback5">Найти</label>
                <form action="/findrepair" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" align="middle" placeholder="ID ремонта">
                        </label>
                    </div>
                    <div align="center">
                        <button class="button" type="submit">Найти</button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <label class="close" for="callback5">+</label>
                </form>
            </div>
        </td>

        <td>
            <div class="popup_div">
                <input type="checkbox" id="callback2">
                <label class="popup_try" for="callback2">Удалить</label>
                <form action="/deleterepair" class="popup_form" method="post">
                    <div align="center">
                        <label>
                            <input type="text" name="id" align="middle"
                                   placeholder="ID ремонта"/>
                        </label>
                    </div>
                    <div>
                        <button class="button" type="submit">Удалить</button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <label class="close" for="callback2">+</label>
                </form>
            </div>
        </td>

    </table>
</div>

</html>