<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<div class="d-flex" style="justify-content: center; max-width: min-content;
                max-height: min-content" th:fragment="crudfeedbacks">

    <table class="crud_buttons" cellpadding="40px" align="center"
           style="padding-top: 0; padding-bottom: 0; max-height: 13rem; margin-top: 2.5rem;
            margin-bottom: 1rem">

        <td style="padding-top: 0; padding-bottom: 0">
            <div class="card col text-center" style="width: 10rem; height: 13rem;
                    box-shadow: 2px 2px 4px black">
                <img src="../img/greenfb.png" class="card-img-top"
                     style="height: 5rem; width: 5rem; align-self: center" alt="Оборудование">
                <div class="card-body d-grid gap-2">
                    <p class="card-text" style="font-size: medium;
                        margin: 0">Добавить <br>отзыв</p>
                    <a th:replace="fragments/crud/add/addingfeedback :: addingfeedback"
                       class="btn stretched-link text-light" style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black">
                        Добавление
                    </a>
                </div>
            </div>
        </td>

        <td style="padding-top: 0; padding-bottom: 0">
            <div class="card col text-center" style="width: 10rem; height: 13rem;
                    box-shadow: 2px 2px 4px black">
                <img src="../img/yellowfb.png" class="card-img-top"
                     style="height: 5rem; width: 5rem; align-self: center" alt="Оборудование">
                <div class="card-body d-grid gap-2">
                    <p class="card-text" style="font-size: medium;
                        margin: 0">Изменить <br>отзыв</p>
                    <a th:replace="fragments/crud/update/updatingfeedback :: updatingfeedback"
                       class="btn stretched-link text-light" style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black">
                        Обновление
                    </a>
                </div>
            </div>
        </td>

        <td style="padding-top: 0; padding-bottom: 0">
            <div class="card col text-center" style="width: 10rem; height: 13rem;
                    box-shadow: 2px 2px 4px black">
                <img src="../img/minisearch.png" class="card-img-top"
                     style="height: 5rem; width: 5rem; align-self: center" alt="Оборудование">
                <div class="card-body d-grid gap-2">
                    <p class="card-text" style="font-size: medium;
                        margin: 0">Поиск <br>отзыва</p>
                    <a th:replace="fragments/searching/feedbacksearching :: feedbacksearching"
                       class="btn stretched-link text-light" style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black">
                        Поиск
                    </a>
                </div>
            </div>
        </td>

        <td style="padding-top: 0; padding-bottom: 0">
            <div class="card col text-center" style="width: 10rem; height: 13rem;
                    box-shadow: 2px 2px 4px black">
                <img src="../img/redfb.png" class="card-img-top"
                     style="height: 5rem; width: 5rem; align-self: center" alt="Оборудование">
                <div class="card-body d-grid gap-2">
                    <p class="card-text" style="font-size: medium;
                        margin: 0">Удалить <br>отзыв</p>
                    <a th:replace="fragments/crud/delete/deletingfeedback :: deletingfeedback"
                       class="btn stretched-link text-light" style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black">
                        Удаление
                    </a>
                </div>
            </div>
        </td>

        <td style="padding-top: 0; padding-bottom: 0">
            <div class="card col text-center" style="width: 10rem; height: 13rem;
                    box-shadow: 2px 2px 4px black">
                <img src="../img/allfb.png" class="card-img-top"
                     style="max-height: 5rem; max-width: 5rem; align-self: center" alt="Отзывы">
                <div class="card-body d-grid gap-2">
                    <p class="card-text" style="font-size: medium;
                        margin: 0">Список <br>отзывов</p>
                    <a th:href="@{/feedbacks}" class="btn stretched-link text-light" style="background-color: #62a0f6
                ; align-content: center; box-shadow: 2px 2px 4px black; height: 5vh;font-size: medium;
                width: 130px; text-shadow: #002349 2px 3px 4px">
                        Отзывы
                    </a>
                </div>
            </div>
        </td>

    </table>

</div>

</html>