<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<div th:fragment="adddevice">
    <label class="popup_try d-flex" style="justify-content: center;
              font-size: 17px; box-shadow: 2px 2px 4px black">Добавление
        <button type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasadddevice"
                aria-controls="offcanvasadddevice"
                style="background-color: #62a0f6; color: white; height: 1px; width: 1px" hidden>
        </button>
    </label>

    <div class="card col offcanvas offcanvas-end border border-0"
         tabindex="-1" id="offcanvasadddevice" aria-labelledby="offcanvasRightAddDeviceLabel"
         style="width: 40vh">
        <img src="../img/blueadd.png" class="card-img-top" alt="AddDevice" style="max-height: 25vh; max-width: 20vh;
                        border-radius: 10%; align-self: center">
        <div class="card-body d-grid gap-2 offcanvas-title bg-light" id="offcanvasRightAddDeviceLabel"
             style="min-height: 100vh; align-content: start">

            <form action="/adddevices" method="post" autocomplete="off"
                  class="card-text offcanvas-body align-self-start">
                <div align="center">
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom m-2" name="category">

                            <option value="0">Категория</option>
                            <option th:each="element : ${categoryList}"
                                    th:value="${element}"
                                    th:text="${element}"></option>
                        </select>
                    </label>
                    <label>
                        <input type="text" name="name" align="middle" placeholder="Название оборудования"/>
                    </label>
                    <label>
                        <input type="text" name="description" align="middle"
                               placeholder="Описание оборудования"/>
                    </label>
                    <label>
                        <input type="text" name="inventory" align="middle" placeholder="Инвентарный номер"/>
                    </label>
                    <label>
                        <input type="text" name="serial" align="middle" placeholder="Серийный номер"/>
                    </label>
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom m-2" name="room">

                            <option value="0">Кабинет</option>
                            <option th:each="element : ${roomList}"
                                    th:value="${element.id}"
                                    th:text="${element.number}"></option>
                        </select>
                    </label>
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom m-2" name="employee">
                            <option value="0">Взял</option>
                            <option th:each="element : ${employeeList}"
                                    th:value="${element.id}"
                                    th:text="${element.fio}"></option>
                        </select>
                    </label>
                    <label class="d-flex justify-content-center align-items-center">
                        <select class="form-select-custom m-2" name="itstaff">

                            <option value="0">МОЛ</option>
                            <option th:each="element : ${itStaffList}"
                                    th:value="${element.id}"
                                    th:text="${element.name}"></option>
                        </select>
                    </label>
                </div>
                <div align="center">
                    <button class="btn text-light" type="submit"
                            style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black"
                    >Добавить
                    </button>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            </form>
            <img src="../img/devicessearchbg.jpg" class="card-img-bottom" alt="Device"
                 style="max-height: 30vh; max-width: 25vh; justify-self: center; margin-top: 5rem;
                        border-radius: 10%; align-self: end">
        </div>

    </div>

</html>