<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<div th:fragment="addingworkarea">
    <label class="popup_try d-flex" style="justify-content: center;
              font-size: 17px; box-shadow: 2px 2px 4px black">Добавление
        <button type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasaddworkarea"
                aria-controls="offcanvasaddworkarea"
                style="background-color: #62a0f6; color: white; height: 1px; width: 1px" hidden>
        </button>
    </label>


    <div class="card col offcanvas offcanvas-end border border-0"
         tabindex="-1" id="offcanvasaddworkarea" aria-labelledby="offcanvasRightAddWorkAreaLabel"
         style="width: 40vh">
        <img src="../img/blueadd.png" class="card-img-top" alt="WorkArea" style="max-height: 25vh; max-width: 20vh;
                        border-radius: 10%; align-self: center">
        <div class="card-body d-grid gap-2 offcanvas-title bg-light" id="offcanvasRightAddWorkAreaLabel"
             style="min-height: 100vh; align-content: start">

            <form action="/addworkarea" method="post" autocomplete="off"
                  class="card-text offcanvas-body align-self-start">
                <div align="center">
                    <label>
                        <input type="text" name="name" placeholder="Название филиала">
                    </label>
                    <label>
                        <input type="text" name="description" placeholder="Описание филиала">
                    </label>
                </div>
                <div align="center">
                    <button class="btn text-light" type="submit"
                            style="background-color: #62a0f6
                ;justify-self: center; min-width: max-content; max-height: min-content; align-self: center;
                    box-shadow: 2px 2px 4px black"
                    >Добавить
                    </button>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            </form>
            <img src="../img/workareasearchbg.jpg" class="card-img-bottom" alt="WorkArea"
                 style="max-height: 30vh; max-width: 25vh; justify-self: center; margin-top: 19rem;
                        border-radius: 10%; align-self: end">
        </div>

    </div>

</html>