<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru" style="overflow-y: scroll">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<div th:fragment="about">

    <button class="btn border border-0 text-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight" style="text-shadow: none">О разработчике
    </button>

    <div class="card col offcanvas offcanvas-end border border-0"
         tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 40vh">
        <img src="../img/photo/a2.jpg" class="card-img-top" alt="Автор" style="max-height: 25vh; max-width: 20vh;
                border-radius: 30%; align-self: center">
        <div class="card-body d-grid gap-2 offcanvas-title bg-light" id="offcanvasRightLabel"
             style="min-height: 100vh; align-content: start">
            <h5 class="card-title text-center" style="height: 3vh">Cтудент группы 22-ЗКМ-ПР1 Клименко Михаил
                Александрович</h5>
            <p class="card-text offcanvas-body align-self-start"><strong>1995 год</strong> - 3 место в чемпионате Крыма
                по шахматам среди юношей
                <br>
                <br>
                <strong>2022 год</strong> - диплом бакалавра Кубанского государственного технического университета,
                специальность
                Программная инженерия
                <br>
                <br>
                <strong>2025 год</strong> - диплом магистра Кубанского государственного технического университета,
                специальность
                Программная инженерия
            </p>
        </div>
    </div>
</div>
</html>