<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<div class="container" style="margin-bottom: 1rem;
          display: grid; border-radius: 1rem; margin-top: 1rem;"
     th:fragment="advantage">
    <div class="row modal-body align-items-start justify-content-around m-2">
        <div class="col">
            <div class="row" style="min-height:30px; position: relative;">
                <div class="col" style="max-width: min-content">
                    <img loading="lazy" src="../img/check.png">
                </div>
                <p class="col align-self-baseline">Программа сделана в России (русскоязычная поддержка, программа и
                    документация на
                    русском языке).
                    Наше ПО способно успешно конкурировать с импортными системами инвентаризации ИТ инфраструктуры и
                    может
                    использоваться в процессе <b>импортозамещения</b>.<br>
                </p>
            </div>
            <div class="row" style="min-height:30px; position: relative;">
                <div class="col align-self-baseline" style="max-width: min-content">
                    <img loading="lazy" src="../img/check.png">
                </div>
                <p class="col">Управление ИТ-активами предприятия (ITAM).</p>
            </div>

            <div class="row" style="min-height:30px; position: relative;">
                <div class="col align-self-baseline" style="max-width: min-content">
                    <img loading="lazy" src="../img/check.png">
                </div>
                <p class="col">Мониторинг изменений</p>
            </div>

            <div class="row" style="min-height:30px; position: relative;">
                <div class="col align-self-baseline" style="max-width: min-content">
                    <img loading="lazy" src="../img/check.png">
                </div>
                <p class="col">Учет компьютерной техники и оргтехники, ведение склада запчастей, ведение истории
                    обслуживания оборудования</p>
            </div>

            <div class="row" style="min-height:30px; position: relative;">
                <div class="col align-self-baseline" style="max-width: min-content">
                    <img loading="lazy" src="../img/check.png">
                </div>
                <p class="col">Веб-интерфейс для удаленного доступа к инвентарной базе.</p>
            </div>

        </div>
        <div class="col s12 m-2 l-4 align-self-baseline card" style="display: grid; max-width: 23%">
            <ul class="collection with-header" style="justify-self: end">
                <li class="collection-header fs-5"><strong>Дополнительная информация:</strong></li>
                <li><a th:replace="fragments/about :: about">О разработчике</a></li>
                <li><a th:replace="fragments/screenshots :: screenshots">Требования для работы приложения</a></li>
                <li><a th:href="@{documents}" class="btn border border-0 text-primary">Документация</a></li>
                <li><a th:replace="fragments/feedback :: feedback" class="collection-item indigo-text text-darken-3">Задайте
                    нам вопрос!
                    <img src="../img/support32.png" width="32" height="32" align="absmiddle" alt="feedback"></a></li>
                <li><a th:href="@{/users}" class="btn border border-0 text-primary">Админка</a> </li>
            </ul>
        </div>
    </div>

</div>


</html>