a {
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    min-height: 80px;
    max-height: 100px;
    background: #62a0f6;
    outline: none;
    text-shadow: #002349 2px 3px 4px;
    padding-left: 10%;
    padding-right: 10%;
}

.page-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: #002349 2px 3px 4px;
}

.navigation-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 99%;
    font-size: larger;
}

.main {
    flex: 1 1 auto;
    max-width: 99%;
    align-items: center;
    justify-content: center;
}

.crud_buttons {
    display: flex;
    flex-direction: row;
    max-width: 99%;
    min-width: 99%;
    padding: 20px 8%;
}

.content_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 8%;
}

.popup_div {
    display: flex;
    max-width: 600px;
    margin: 40px auto;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

.popup_try {
    display: block; /* Это блоковый элемент */
    margin: 0 auto;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background-color: #62a0f6;
    width: 130px;
    height: 55px;
    color: #fcf6f6;
    padding: 10px;
    font-size: 14px;
    text-shadow: #002349 2px 3px 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: .3s all; /* Плавный переход */
}

.popup_try:hover {
    color: #564827;
    cursor: pointer;
}

.popup_try:focus {
    outline: 4px;
    box-shadow: 0 0 0 4px #62a0f6;
}

/*.popup_try {*/
/*    display: block; !* Это блоковый элемент *!*/
/*    margin: 0 auto;*/
/*    width: 10%;*/
/*    border: 2px solid  #62a0f6;*/
/*    border-radius: 15px; !* Закругляем углы *!*/
/*    color:  #62a0f6;*/
/*    text-transform: uppercase; !* Большие буквы *!*/
/*    cursor: pointer;*/
/*    transition: .3s all; !* Плавный переход *!*/
/*}*/

.popup_form {
    display: block;
    width: min-content;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Закругляем углы */
    background-color: #ffffff;
    border: 2px solid #62a0f6;
    box-shadow: 0 0 0 2px #15467a;
    padding: 28px;
    text-transform: uppercase;
    color: #fcf6f6; /* Цвет текста */
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -999px;
    transition: 0.01s all linear; /* Плавный переход */
}

#callback:checked ~ .popup_form {
    top: -60px;
}

#callback {
    display: none;
}

#callback2:checked ~ .popup_form {
    top: -60px;
}

#callback2 {
    display: none;
}

#callback3:checked ~ .popup_form {
    top: -60px;
}

#callback3 {
    display: none;
}

#callback4:checked ~ .popup_form {
    top: -60px;
}

#callback4 {
    display: none;
}

#callback5:checked ~ .popup_form {
    top: -60px;
}

#callback5 {
    display: none;
}

.close {
    display: block;
    position: absolute;
    transform: rotate(45deg); /*Поворот плюса на 45 градусов*/
    font-size: 30px;
    top: 2px;
    right: 10px;
    cursor: pointer;
    color: #62a0f6;
}

.mid_part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.mid_part_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.mid_part_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.mid_part_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.mid_part_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.mid_part_6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.db_table_border {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #62a0f6;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #15467a;
}

.db_table {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    border-spacing: 50px 5px;
}

.footer {
    background: #62a0f6;
    font-size: 16px;
    color: #fcf6f6;
    text-align: center;
    padding: 20px;
    text-shadow: #002349 2px 3px 4px;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #62a0f6;
    color: #fcf6f6;
    padding: 2px 5px;
    font-size: 12px;
    text-shadow: #002349 2px 3px 4px;
}

.button:hover {
    color: #564827;
    cursor: pointer;
}

.button:focus {
    outline: 4px;
    box-shadow: 0 0 0 4px #62a0f6;
}

input[type="text"] {
    appearance: none;
    outline: none;
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    margin: 4px 0;
    padding: 2px;
    box-shadow: 0 0 3px 1px #62a0f6;
    border-radius: 5px;
    border: 0 #62a0f6;
}

*, *:before, *:after {
    box-sizing: border-box;
}