<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8" content="">
    <title>DOCUMENTS</title>
    <link href="css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="js/custom.js"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="page-name">
            <h3 style="color: #fcf6f6">УЧЕБНЫЙ ЦЕНТР: ДОКУМЕНТЫ</h3>
        </div>
        <div class="navigation-box">
            <div class="navigation-link">
                <a href="http://192.168.0.101/main.html" style="color: #fcf6f6">Главная</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/employee" style="color: #fcf6f6">Сотрудники</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/itstaff" style="color: #fcf6f6">Программисты</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/workarea" style="color: #fcf6f6">Филиалы</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/room" style="color: #fcf6f6">Кабинеты</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/events" style="color: #fcf6f6">События</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/devices" style="color: #fcf6f6">Оборудование</a>
            </div>
            <div class="navigation-link">
                <a href="http://192.168.0.101/documents" style="color: #fcf6f6">Документы</a>
            </div>
        </div>
    </header>
    <main>
        Hi hi hi hi
    </main>
    <footer class="footer">
        <div align="center">MK &copy 2023</div>
    </footer>
</div>
</body>
</html>