<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <title>Feedbacks</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex">
    <header class="header">
        <div class="page-name">
            <h3 style="color: #fcf6f6">УЧЕБНЫЙ ЦЕНТР: ОБРАТНАЯ СВЯЗЬ</h3>
        </div>
        <div th:replace="fragments/navigation :: navigation"></div>
    </header>
    <main class="main">

        <div class="d-flex container " style="width: 80%; margin-top: 10vh; border-radius: 15%">
            <table class="table p-3 m-3 border border-3 border-primary" style="align-self: center;
                justify-items: center; border-radius: 15%">

                <tr style="background-color: #EEEEEE; border-radius: 15%">
                    <th class="border border-3 border-primary" style="width: 5%">ID отзыва</th>
                    <th class="border border-3 border-primary" style="width: 20%">Имя</th>
                    <th class="border border-3 border-primary" style="width: 20%">E-mail</th>
                    <th class="border border-3 border-primary" style="width: 45%">Отзыв</th>
                    <th class="border border-3 border-primary" style="width: 10%">Работа с данными</th>
                </tr>

                <tr>
                    <td class="border border-3 border-primary"><h6>...</h6></td>
                    <td class="border border-3 border-primary"><h6>...</h6></td>
                    <td class="border border-3 border-primary"><h6>...</h6></td>
                    <td class="border border-3 border-primary"><h6>...</h6></td>
                    <td class="border border-3 border-primary"><h6>...</h6></td>
                </tr>

                <div th:each="element, iterStat : ${feedbackList}">
                    <div class="col-8">
                        <tr style="align-self: center">
                            <td class="border border-3 border-primary (${iterStat.index % 2 == 0} ? bg-light : bg-success-subtle)">
                                <div>[[${element.id}]]</div>
                            </td>
                            <td class="border border-3 border-primary (${iterStat.index % 2 == 0} ? bg-light : bg-success-subtle)">
                                <div>[[${element.name}]]</div>
                            </td>
                            <td class="border border-3 border-primary (${iterStat.index % 2 == 0} ? bg-light : bg-success-subtle)">
                                <div>[[${element.email}]]</div>
                            </td>
                            <td class="border border-3 border-primary (${iterStat.index % 2 == 0} ? bg-light : bg-success-subtle)">
                                <div>[[${element.message}]]</div>
                            </td>
                            <td class="border border-3 border-primary (${iterStat.index % 2 == 0} ? bg-light : bg-success-subtle)">
                                ...
                            </td>
                        </tr>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </table>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footerbd :: footerbd"></div>
    </footer>
</div>

</body>
</html>