<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <title>Feedbacks</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex justify-content-center" style="align-self: center">
    <header class="modal-header bg-primary container row"
        style=" border-radius: 1rem; text-shadow: 2px 2px 4px black; align-self: center">

            <div class="col">
                <h3 style="color: #fcf6f6">УЧЕБНЫЙ ЦЕНТР: ОБРАТНАЯ СВЯЗЬ</h3>
            </div>
            <div class="col" th:replace="fragments/navigation :: navigation"></div>

    </header>
    <main class="main">

        <div class="d-flex" style="min-width: max-content; margin-top: 10vh; border-radius: 15%;
                justify-content: center">
            <table class="p-3 m-3" style="align-self: center;justify-items: center">

                <tr class="text-light fs-5" style="background-color: #62a0f6">
                    <th class="p-1 m-1 text-center" style="width: 5vh">ID отзыва</th>
                    <th class="p-1 m-1 text-center" style="width: 20vh">Имя</th>
                    <th class="p-1 m-1 text-center" style="width: 20vh">E-mail</th>
                    <th class="p-1 m-1 text-center" style="width: 45vh">Отзыв</th>
                    <th class="p-1 m-1 text-center" style="width: 10vh">Работа с данными
                    </th>
                </tr>

                <form action="/addfeedback" method="post">
                    <td class="text-center p-1" style="background-color: white">
                        <label class="text-start border border-0 fs-5">
                            <input type="hidden" class="text-start border border-1 shadow shadow-none" name="id" id="id"
                                   style="min-width: 99%;
                                min-height: 99%; box-shadow: none" placeholder="Введите ID">
                        </label>
                    </td>
                    <td class="text-center p-1" style="background-color: white">
                        <label class="text-start border border-0 fs-5">
                            <input type="text" class="text-start border border-1 shadow shadow-none" name="name"
                                   id="name"
                                   style="min-width: 99%; min-height: 99%" placeholder="Введите имя">
                        </label>
                    </td>
                    <td class="text-center p-1" style="background-color: white">
                        <label class="text-start border border-0 fs-5">
                            <input type="text" class="text-start border border-1 shadow shadow-none" name="email"
                                   id="email" required
                                   style="min-width: 99%; min-height: 99%" placeholder="Введите e-mail">
                        </label>
                    </td>
                    <td class="text-center p-1" style="background-color: white">
                        <label class="text-start border border-0 shadow shadow-none fs-5">
                            <input type="text" class="text-start border border-1 shadow shadow-none" name="message"
                                   id="message" required
                                   style="min-width: 99%; min-height: 99%" placeholder="Введите сообщение">
                        </label>
                    </td>
                    <td class="text-center p-1" style="background-color: white">
                        <label class="text-start border border-0">
                            <div th:replace="fragments/crud/create :: create"></div>
                        </label>
                    </td>
                </form>

                <div th:each="element : ${feedbackList}">
                    <div class="col-8">
                        <tr style="align-self: center">
                            <td class="p-2 m-2 text-center border border-1 border-dark">
                                <div>[[${element.id}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark">
                                <div>[[${element.name}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark">
                                <div>[[${element.email}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark">
                                <div>[[${element.message}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark">
                                ...
                            </td>
                        </tr>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </table>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footermain :: footermain"></div>
    </footer>
</div>

</body>
</html>