<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <title>Feedbacks</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex">
    <header class="header">
        <div class="page-name">
            <h3 style="color: #fcf6f6">УЧЕБНЫЙ ЦЕНТР: ОБРАТНАЯ СВЯЗЬ</h3>
        </div>
        <div th:replace="fragments/navigation :: navigation"></div>
    </header>
    <main class="main">

        <div class="d-flex" style="min-width: max-content; margin-top: 10vh; border-radius: 15%;
                justify-content: center">
            <table class="p-3 m-3 border border-1 border-dark" style="align-self: center;
                justify-items: center; border-radius: 15%">

                <tr style="background-color: #EEEEEE; border-radius: 15%">
                    <th class="border border-1 border-dark p-2 m-2 text-center" style="width: 5vh">ID отзыва</th>
                    <th class="border border-1 border-dark p-2 m-2 text-center" style="width: 20vh">Имя</th>
                    <th class="border border-1 border-dark p-2 m-2 text-center" style="width: 20vh">E-mail</th>
                    <th class="border border-1 border-dark p-2 m-2 text-center" style="width: 45vh">Отзыв</th>
                    <th class="border border-1 border-dark p-2 m-2 text-center" style="width: 10vh">Работа с данными
                    </th>
                </tr>

                <form action="/addfeedback" method="post">
                    <td class="border border-1 border-dark text-center p-1">
                        <label class="text-start border border-0">
                            <input type="text" class="text-start border border-0" name="id" id="id" style="min-width: 99%">
                        </label>
                    </td>
                    <td class="border border-1 border-dark text-center p-1">
                        <label class="text-start border border-0">
                            <input type="text" class="text-start border border-0" name="name" id="name" style="min-width: 99%">
                        </label>
                    </td>
                    <td class="border border-1 border-dark text-center p-1">
                        <label class="text-start border border-0">
                            <input type="text" class="text-start border border-0" name="email" id="email" required
                                   style="min-width: 99%">
                        </label>
                    </td>
                    <td class="border border-1 border-dark text-center p-1">
                        <label class="text-start border border-0">
                            <textarea class="form-control border border-0" name="message" id="message" rows="1" required></textarea>
                        </label>
                    </td>
                    <td class="border border-1 border-dark text-center p-1">
                        <label class="text-start border border-0">
                            <div th:replace="fragments/crud/create :: create"></div>
                        </label>
                    </td>
                </form>

                <div th:each="element : ${feedbackList}">
                    <div class="col-8">
                        <tr style="align-self: center">
                            <td class="border border-1 border-dark p-2 m-2 text-center">
                                <div>[[${element.id}]]</div>
                            </td>
                            <td class="border border-1 border-dark p-2 m-2 text-center">
                                <div>[[${element.name}]]</div>
                            </td>
                            <td class="border border-1 border-dark p-2 m-2 text-center">
                                <div>[[${element.email}]]</div>
                            </td>
                            <td class="border border-1 border-dark p-2 m-2 text-center">
                                <div>[[${element.message}]]</div>
                            </td>
                            <td class="border border-1 border-dark p-2 m-2 text-center">
                                ...
                            </td>
                        </tr>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </table>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footerbd :: footerbd"></div>
    </footer>
</div>

</body>
</html>