<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" content="">
    <title>ITSTAFF</title>
</head>
<body>
<table align="center" width="1500">

    <tr>
        <form action="/employee">
            <button type="submit">Сотрудник</button>
        </form>
    </tr>

    <tr>
        <form action="/itstaff">
            <button type="submit">Инженер-программист</button>
        </form>
    </tr>
    <tr>
        <form action="/workarea">
            <button type="submit">Филиал</button>
        </form>
    </tr>
    <tr>
        <form action="/room">
            <button type="submit">Кабинет</button>
        </form>
    </tr>
    <tr>
        <form action="/events">
            <button type="submit">Событие</button>
        </form>
    </tr>
    <tr>
        <form action="/devices">
            <button type="submit">Оборудование</button>
        </form>
    </tr>
</table>

<form method="post" action="/additstaff">
    <label>
        <input type="text" name="name" placeholder="Введите ФИО программиста"/>
    </label>
    <button type="submit">Добавить</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<form method="post" action="/deleteitstaff">
    <label>
        <input type="text" name="id" placeholder="Введите ID программиста">
    </label>
    <button type="submit">Удалить</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<form method="post" action="/updateitstaff">
    <label>
        <input type="text" name="id" placeholder="Введите ID программиста">
    </label>
    <label>
        <input type="text" name="name" placeholder="Введите ФИО программиста">
    </label>
    <button type="submit">Обновить</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<form method="post" action="/finditstaffbyid">
    <label>
        <input type="text" name="id" placeholder="Введите ID программиста">
    </label>
    <button type="submit">Найти</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<form method="post" action="/finditstaffbyname">
    <label>
        <input type="text" name="name" placeholder="Введите фамилию программиста">
    </label>
    <button type="submit">Найти</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<table align="center" bgcolor="#a9a9a9" width="400" style="columns: max-content">
    <tr>
        <th>ID программиста</th>
        <th>ФИО программиста</th>
    </tr>
    <div th:each="element : ${itStaffList}" class="row m-1">
        <div class="col-8">
            <tr align="center">
                <td>
                    <div>[[${element.id}]]</div>
                </td>
                <td>
                    <div>[[${element.name}]]</div>
                </td>
            </tr>
        </div>
    </div>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</table>
</body>
</html>