<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

       <title>Login </title>
    <div th:replace="fragments/head :: head"></div>

    <link rel="stylesheet" href="css/security.css">

</head>
<body>
<div class="wrapper">
      <header class="modal-header bg-primary container" style="min-height: 10%
            ;text-shadow: 2px 2px 4px black">
        <div class="w-100 container text-center text-light fs-2 h-100 p-3 m-3 fw-bold">
            Информационная система учета компьютерного оборудования
        </div>
    </header>
    <main class="main">
        <div class="mid_part_sec">
            <div class="fs-2 text-danger" th:if="${param.error}">
                Неправильное имя или пароль.
            </div>
            <form th:action="@{/login}" method="post" style="display: grid">
                <div style="justify-self: center"><label> <input type="text" name="username" placeholder="Логин" style="width: 15rem;
                        margin-bottom: 4%"/> </label></div>
                <div style="justify-self: center"><label> <input type="password" name="password" placeholder="Пароль"
                                                                 style="width: 15rem; margin-bottom: 4%"/> </label>
                </div>
                <div align="center" style="justify-self: center">
                    <button class="btn btn-primary gap-2" type="submit" style="margin-top: 5%">Войти</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="modal-footer bg-primary container align-items-center text-light text-center fs-5 h-100"
            style="height: 8%; max-height: 10%; text-shadow: 2px 2px 4px black">
        <div class="w-100 align-items-center text-center">
            <p class="text-light m-3 p-3">AccApp &copy 2024-2025</p>
        </div>
    </footer>
</div>
</body>
</html>