<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8" content="text/css">
    <title>Login </title>
<!--    <link rel="stylesheet" href="css/custom.css">-->
<!--    <link rel="stylesheet" href="css/security.css">-->
</head>
<body>
<div class="wrapper">
    <header class="header">
        <h2 style="width: 70%; margin: auto; color: #fcf6f6">
            Информационная система учета компьютерного оборудования
        </h2>
    </header>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Войти"/></div>
    </form>
    <footer class="footer">
        <div align="center">MK &copy 2023</div>
    </footer>
</div>
</body>
</html>