<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
        .footer {
            margin: 5%;
        }
    </style>
</head>
<body>
<header>

</header>

<footer class="footer">
    <table align="center" cols="1" width="100%">
        <col align="center" width="100%">
        <tr align="center" width="100%">
            <td align="center" width="100%">
                <h2>
                    Подвал сайта
                </h2>
                <p>Copyright@ 2023 M K Web Practice
                    <img style="float: right;"
                         src="/main/images/tux.jpg" height="50" width="50">
                </p>
                <address>FAR FAR AWAY</address>

            </td>
        </tr>
    </table>
</footer>
</body>
</html>