<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>ROOM</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div class="wrapper d-flex justify-content-center" style="align-self: center">
    <header class="modal-header bg-primary container row"
            style=" border-radius: 1rem; text-shadow: 2px 2px 4px black; align-self: center;
                margin-bottom: 1rem">

        <div class="col" th:replace="fragments/nav/navroom :: navroom"></div>

    </header>
    <main class="main d-flex row" style="align-content: baseline;
        background-image: url('../img/bg/bdfon2.jpg');
        background-repeat: no-repeat; align-self: center;
        max-width: 80rem; border-radius: 1rem">

        <div class="col" th:replace="fragments/crud/crudrooms :: crudrooms"></div>

        <div class="d-flex" style="max-width: min-content; justify-content: center;
                    align-content: baseline; max-height: min-content">
            <table class="p-3 m-3 col" style="align-self: center">

                <tr class="text-light fs-5" style="background-color: #62a0f6">
                    <th class="p-1 m-1 text-center"
                        style="padding-left: 2vh; padding-right: 2vh; border-color: #62a0f6">ID
                    </th>
                    <th class="p-1 m-1 text-center"
                        style="padding-left: 2vh; padding-right: 2vh; border-color: #62a0f6">Номер кабинета
                    </th>
                    <th class="p-1 m-1 text-center"
                        style="padding-left: 2vh; padding-right: 2vh; border-color: #62a0f6">Филиал
                    </th>
                </tr>

                <form>
                    <td class="text-center p-1" style="background-color: white">

                    </td>
                </form>

                <div th:each="element : ${roomList}">
                    <div class="col">
                        <tr style="align-self: center">
                            <td class="p-2 m-2 text-center border border-1 border-dark"
                                style="min-width: 10vh">
                                <div>[[${element.id}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark"
                                style="min-width: 25vh">
                                <div>[[${element.number}]]</div>
                            </td>
                            <td class="p-2 m-2 text-center border border-1 border-dark"
                                style="min-width: 40vh">
                                <div>[[${element.workArea}]]</div>
                            </td>

                        </tr>
                    </div>
                </div>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            </table>
        </div>

    </main>
    <footer>
        <div th:replace="fragments/footermain :: footermain"></div>
    </footer>
</div>
</body>
</html>