<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<div class="navbar navbar-expand-lg d-flex justify-content-evenly align-content-between
        fs-5 text-light"
     style="text-shadow: 2px 2px 4px black" th:fragment="navfeedbacks">

    <div>
        <a class="nav-link"
           th:href="@{/}">Главная</a>
    </div>
    <div id="navlink9">
        <a class="nav-link"
           th:href="@{/users}">Пользователи</a>
    </div>
    <div id="navlink10">
        <a class="nav-link" style="color: grey"
           th:href="@{/feedbacks}">Обратная связь</a>
    </div>
</div>


</html>