# Default ignored files
/shelf/
/workspace.xml
/Check List
# Datasource local storage ignored files
/../../../../../:\JAVA\REPOSITORY\AccApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
